/*border color: #bdc3c7
date color: #3498db
h2 color #2c3e50*/

body{
    background-color:#bdc3c7;
    font-family: Source Sans Pro;
}

.container {
    position: relative;
  }

.center{
    margin: 10vh;
}


h1{
    text-align: center;
    color: #2c3e50;
    font-weight: bold;
    font-size: 60px;
}

h2{
    color: #2c3e50;
    font-size: 30px;
    
}

p{
    color: #2c3e50;
    font-weight: bold;
}
/*i know this will affect every image not just this one**/

.image-size{
    width: 75px;
    height: 75px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #2c3e50, rgba(255, 255, 255, 0));
}

a {
    font-weight: bold;
    color: #526d88;
}

a:link {
color: #526d88;
text-decoration: none;
}

a:visited {
    color: #526d88;
    text-decoration: none;
    }

a:hover {
    color: #3498db;
    text-decoration: none;
}